/*
  ----------------------------------------
  Reset & Basic styles
  ----------------------------------------
*/
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #ecf0f1;
	font: 16px 'Open Sans', Arial, sans-serif;
	font-weight: 300;
}
.container {
	width: 800px;
	margin: 0 auto;
}

/*
  ----------------------------------------
  Header
  ----------------------------------------
*/
.main-header {
	padding: 20px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}
h1,
h2 {
	font-weight: 300;
}
h2 {
	font-size: 16px;
}

/*
  ----------------------------------------
  Cat View
  ----------------------------------------
*/
.cat-view {
	width: 600px;
	text-align: center;
	padding: 0 20px;
	float: right;
	margin-top: 25px;
}
.cat-view p {
	width: 100%;
	border: 1px solid #bdc3c7;
	border-radius: 4px;
	padding: 10px 0;
	margin-bottom: 10px;
}
.cat-view img {
	width: 100%;
}

/*
  ----------------------------------------
  Cat List
  ----------------------------------------
*/
.cat-list {
	width: 180px;
	float: left;
	margin-top: 25px;
}
.cat-list ul {
	list-style: none;
}
.cat-list ul li {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 4px;
}
.cat-list ul li.selected,
.cat-list ul li:hover {
	background: #7f8c8d;
	color: #ecf0f1;
	cursor: pointer;
	font-weight: 400;
}